:root{
  primary: '#FFA826',       
  header: '#FFD465',        
  accentRed: '#FF4B3A',     
  card: '#FFFFFF',          
  iconGray: '#A9A9A9',      
  textDark: '#333333',      
  lightBadge: '#FFF1DE',    
  discountBg: '#FBEAEA'
}
